.header-container {

    display: flex;
    justify-content: center;
    height: 150px;
    color: rgb(184, 182, 182);
    background: rgb(1, 20, 31);
    position: relative;

}

.header-parent {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 70%;
    color: rgb(184, 182, 182);

}

.header-logo {

    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.header-options {

    display: flex;
    align-items: center;

}

.header-option {

    font-size: 16px;
    cursor: pointer;
    font-weight: 600;

}



@media screen and (max-width: 767px) {
    
    .header-container {

        margin-bottom: 4%;

    }

}

@media screen and (min-width: 767px) {
    
    .header-container {

        margin-bottom: -5%;

    }

}

@media screen and (min-width: 1023px) {
    
    .header-container {

        margin-bottom: 0%;

    }

}